useDynLib(gsw)
export(
        argfix,
        gsw_alpha,
        gsw_CT_from_t,
        gsw_grav,
        gsw_Nsquared,
        gsw_rho,
        gsw_SA_from_SP,
        gsw_SP_from_C,
        gsw_z_from_p)

