useDynLib(gsw)
importFrom(utils, data)
export(
        argfix,
        gsw_adiabatic_lapse_rate_from_CT,
        gsw_alpha,
        gsw_alpha_on_beta,
        gsw_alpha_wrt_t_exact,
        gsw_beta,
        gsw_beta_const_t_exact,
        gsw_C_from_SP,
        gsw_cp_t_exact,
        gsw_cabbeling,
        gsw_CT_freezing,
        gsw_CT_from_pt,
        gsw_CT_from_t,
        gsw_deltaSA_from_SP,
        gsw_dynamic_enthalpy,
        gsw_enthalpy,
        gsw_enthalpy_t_exact,
        gsw_entropy_from_t,
        gsw_grav,
        gsw_internal_energy,
        gsw_IPV_vs_fNsquared_ratio,
        gsw_kappa,
        gsw_kappa_t_exact,
        gsw_latentheat_evap_CT,
        gsw_latentheat_evap_t,
        gsw_latentheat_melting,
        gsw_Nsquared,
        gsw_p_from_z,
        gsw_pot_rho_t_exact,
        gsw_pt0_from_t,
        gsw_pt_from_CT,
        gsw_pt_from_t,
        gsw_rho,
        gsw_rho_first_derivatives,
        gsw_rho_t_exact,
        gsw_SA_from_rho,
        gsw_SA_from_SP,
        gsw_SA_from_Sstar,
        gsw_SR_from_SP,
        gsw_sigma0,
        gsw_sigma1,
        gsw_sigma2,
        gsw_sigma3,
        gsw_sigma4,
        gsw_sound_speed,
        gsw_sound_speed_t_exact,
        gsw_specvol,
        gsw_specvol_t_exact,
        gsw_specvol_anom,
        gsw_SP_from_C,
        gsw_SP_from_SA,
        gsw_SP_from_SK,
        gsw_SP_from_SR,
        gsw_SP_from_Sstar,
        gsw_Sstar_from_SA, # FIXME: clean when done
        gsw_Sstar_from_SP, # FIXME: clean when done
        gsw_t_freezing,
        gsw_t_from_CT,
        gsw_thermobaric,
        gsw_Turner_Rsubrho,
        gsw_z_from_p)

