useDynLib(gsw)
export(
        argfix,
        gsw_adiabatic_lapse_rate_from_CT,
        gsw_alpha,
        gsw_alpha_on_beta,
        gsw_alpha_wrt_t_exact,
        gsw_beta,
        gsw_beta_const_t_exact,
        gsw_C_from_SP,
        gsw_cp_t_exact,
        gsw_cabbeling,
        gsw_CT_freezing,
        gsw_CT_from_pt,
        gsw_CT_from_t,
        gsw_enthalpy,
        gsw_enthalpy_t_exact,
        gsw_grav,
        gsw_Nsquared,
        gsw_pot_rho_t_exact,
        gsw_rho,
        gsw_rho_t_exact,
        gsw_SA_from_SP,
        gsw_sigma0,
        gsw_sigma1,
        gsw_sigma2,
        gsw_sigma3,
        gsw_sigma4,
        gsw_sound_speed,
        gsw_sound_speed_t_exact,
        gsw_specvol,
        gsw_specvol_t_exact,
        gsw_specvol_anom,
        gsw_SP_from_C,
        gsw_SP_from_SA, #
        gsw_t_freezing,
        gsw_t_from_CT,
        gsw_thermobaric,
        gsw_Turner_Rsubrho,
        gsw_z_from_p)

